@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #0f0f0f;
  line-height: 1;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  line-height: 120%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
._container {
  padding: 0 20px
}
.section {
  padding: 45px 0
}
.title {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}
.title img {
  height: 40px
}
.title h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #fff
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 25px 0;
  transition: all .5s ease
}
.header.scroll {
  background-color: #000;
  z-index: 50
}
.header__wrap {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 145px;
  background: linear-gradient(to bottom,#000 10%,rgba(0,0,0,0) 100%);
  transition: all .5s ease
}
.active .header__wrap {
  opacity: 0;
  visibility: hidden
}
.header.active {
  background: #000
}
.header ._container {
  position: relative;
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}
.header__left {
  display: flex;
  align-items: center;
  gap: 20px
}
.header__burger {
  position: relative;
  flex: 0 0 40px;
  width: 40px;
  height: 24px
}
.active .header__burger span:nth-child(2) {
  opacity: 0;
  visibility: hidden
}
.active .header__burger span:first-child {
  top: calc(50% - 1.5px);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.active .header__burger span:last-child {
  bottom: calc(50% - 1.5px);
  width: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.header__burger span {
  position: absolute;
  left: 0;
  display: block;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .5s ease
}
.header__burger span:first-child {
  top: 0;
  width: 100%
}
.header__burger span:nth-child(2) {
  top: calc(50% - 1.5px);
  width: 27px
}
.header__burger span:last-child {
  bottom: 0;
  width: 15px
}
.header__logo {
  height: 70px;
  transition: all .5s ease
}
.active .header__logo {
  opacity: 0;
  visibility: hidden
}
.header__logo img {
  height: 100%
}
.header__menu {
  display: none
}
.header__menu .link._navigator-active {
  font-weight: 700
}
.header__socials {
  display: flex;
  gap: 20px;
  transition: all .5s ease
}
.active .header__socials {
  opacity: 0;
  visibility: hidden
}
.header__social {
  height: 24px
}
.header__social svg {
  height: 100%;
  fill: #cafe50;
  transition: all .5s ease
}
.header__phone {
  display: none
}
.menu {
  position: fixed;
  z-index: 40;
  top: 120px;
  left: 0;
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #000;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  transition: all .5s ease
}
.menu.active {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}
.menu__links .link {
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #cafe50
}
.menu__links .link._navigator-active {
  font-weight: 700
}
.menu__phone {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  color: #cafe50
}
.menu__socials {
  display: flex;
  gap: 25px
}
.menu__social {
  height: 30px
}
.menu__social img {
  height: 100%
}
.footer {
  padding: 50px 0
}
.footer__top {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px
}
.footer__logo {
  height: 90px
}
.footer__logo img {
  height: 100%
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px
}
.footer__link {
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #cafe50;
  transition: color .5s ease
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}
.footer__socials {
  order: 1;
  display: flex;
  gap: 25px
}
.footer__social {
  height: 30px
}
.footer__social svg {
  height: 100%;
  fill: #cafe50;
  transition: fill .5s ease
}
.footer__phone {
  order: 0
}
.footer__phone svg {
  display: none
}
.footer__phone span {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  color: #cafe50;
  transition: color .5s ease
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px
}
.footer__copyright {
  font-size: 16px;
  line-height: 120%;
  color: #fff
}
.footer__author {
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  transition: color .5s ease
}
.main-section {
  margin-bottom: 45px;
  padding: 130px 0 55px;
  color: #fff;
  background: url(../img/main.jpg) center/cover no-repeat
}
.main-section__title {
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%
}
.main-section__subtitle {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 120%
}
.main-section__city {
  margin-bottom: 30px;
  font-size: 33px;
  font-weight: 700;
  line-height: 120%
}
.main-section__button {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  padding: 25px 20px;
  background-color: #000;
  border: 1px solid #000;
  transition: all .5s ease
}
.main-section__button span {
  font-size: 16px;
  line-height: 120%;
  color: #cafe50;
  transition: color .5s ease
}
.main-section__button svg {
  width: 24px;
  height: 24px;
  fill: #cafe50;
  transition: fill .5s ease
}
.why__body {
  margin: 0 -20px;
  padding: 0 20px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.why__body::-webkit-scrollbar {
  display: none
}
.why__wrapper {
  display: flex;
  gap: 20px
}
.why__wrapper::after {
  content: "";
  flex: 0 0 1px
}
.why__item {
  flex: 0 0 225px;
  width: 225px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: #cafe50;
  border-radius: 8px;
  overflow: hidden;
  transition: all .5s ease
}
.why__item-image {
  margin-bottom: 15px;
  height: 125px;
  border-radius: 8px
}
.why__item-title {
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase
}
.why__item-text {
  flex: 1 1 auto;
  padding: 0 15px;
  font-size: 16px;
  line-height: 120%
}
.service__title h2 {
  color: #cafe50
}
.service__body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px
}
.service__item {
  flex: 0 0 100%;
  width: 100%;
  min-height: 250px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border: 1px solid #cafe50;
  border-radius: 8px;
  transition: all .5s ease
}
.service__item-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #000
}
.service__item-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px
}
.service__item-text {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 120%;
  color: #000
}
.service__item-text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%
}
.service__item-cost {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  color: #000
}
.proposition__body {
  margin: 0 -20px;
  padding: 0 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.proposition__body::-webkit-scrollbar {
  display: none
}
.proposition__wrapper {
  display: flex;
  gap: 20px
}
.proposition__wrapper::after {
  content: "";
  flex: 0 0 1px
}
.proposition__item {
  flex: 0 0 285px;
  width: 285px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 12px;
  border-radius: 8px;
  transition: all .5s ease
}
.proposition__item:nth-child(4n+1) {
  background-color: #ffd386
}
.proposition__item:nth-child(4n+2) {
  background-color: #f8fe9e
}
.proposition__item:nth-child(4n+3) {
  background-color: #d7fff0
}
.proposition__item:nth-child(4n) {
  background-color: #91ffc1
}
.proposition__item-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  color: #000
}
.proposition__item-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px
}
.proposition__item-text {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 120%;
  color: #000
}
.proposition__item-text::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%
}
.proposition__item-cost {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  color: #000
}
.contact__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}
.contact__text {
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #cafe50
}
.contact__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px
}
.contact__phone {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #cafe50;
  transition: color .5s ease
}
.contact__socials {
  display: flex;
  gap: 23px
}
.contact__social {
  height: 30px
}
.contact__social svg {
  height: 100%;
  fill: #cafe50;
  transition: fill .5s ease
}
.about {
  margin: 45px 0;
  background: url(../img/about.jpg) center/cover no-repeat
}
.about__text {
  font-size: 16px;
  line-height: 120%;
  color: #fff
}
.request {
  position: fixed;
  z-index: 30;
  right: 0;
  bottom: 50px;
  width: 80px;
  height: 80px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cafe50;
  border: 1px solid #cafe50;
  border-radius: 6px;
  transition: all .5s ease
}
.request svg {
  width: 16px;
  height: 16px;
  stroke: #000;
  transition: stroke .5s ease
}
.request span {
  width: 100%;
  font-size: 14px;
  line-height: 120%;
  text-align: right;
  color: #000;
  transition: color .5s ease
}
@media (min-width:47.99875em) {
  .service__body {
    gap: 20px
  }
  .service__item {
    flex: 0 0 calc(50% - 10px);
    width: calc(50% - 10px)
  }
}
@media (min-width:61.99875em) {
  ._container {
    padding: 0;
    margin: 0 auto;
    width: 950px
  }
  .section {
    padding: 50px 0
  }
  .title {
    margin-bottom: 45px
  }
  .header {
    padding: 15px 0
  }
  .header__wrap {
    height: 190px
  }
  .header__burger {
    display: none
  }
  .header__logo {
    height: 90px
  }
  .header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
  }
  .header__menu .link {
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #cafe50;
    transition: color .5s ease
  }
  .header__menu .link:hover {
    color: #fff
  }
  .header__right {
    display: flex;
    align-items: center;
    gap: 20px
  }
  .header__socials {
    gap: 20px
  }
  .header__social:hover svg {
    fill: #fff
  }
  .header__phone {
    display: flex;
    align-items: center;
    gap: 10px
  }
  .header__phone:hover svg {
    fill: #fff
  }
  .header__phone:hover span {
    color: #fff
  }
  .header__phone svg {
    width: 20px;
    height: 20px;
    fill: #cafe50;
    transition: all .5s ease
  }
  .header__phone span {
    font-size: 16px;
    line-height: 120%;
    color: #cafe50;
    transition: color .5s ease
  }
  .footer__top {
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px
  }
  .footer__left {
    flex-direction: row;
    gap: 35px
  }
  .footer__menu {
    flex-direction: row;
    gap: 20px
  }
  .footer__link {
    font-size: 16px
  }
  .footer__link:hover {
    color: #fff
  }
  .footer__contacts {
    align-items: flex-end;
    gap: 20px
  }
  .footer__social:hover svg {
    fill: #fff
  }
  .footer__phone {
    display: flex;
    align-items: center;
    gap: 10px
  }
  .footer__phone:hover svg {
    fill: #fff
  }
  .footer__phone:hover span {
    color: #fff
  }
  .footer__phone svg {
    display: block;
    width: 19px;
    height: 19px;
    fill: #cafe50;
    transition: fill .5s ease
  }
  .footer__phone span {
    font-size: 16px;
    font-weight: 400
  }
  .footer__bottom {
    flex-direction: row;
    justify-content: space-between
  }
  .footer__author:hover {
    color: #cafe50
  }
  .main-section {
    margin-bottom: 50px;
    padding: 165px 0 140px
  }
  .main-section__title {
    margin-bottom: 10px;
    font-size: 55px
  }
  .main-section__subtitle {
    margin-bottom: 20px;
    font-size: 30px
  }
  .main-section__city {
    margin-bottom: 50px;
    font-size: 45px
  }
  .main-section__button {
    padding: 25px 30px
  }
  .main-section__button:hover {
    background-color: rgba(0,0,0,0);
    border-color: #fff
  }
  .main-section__button:hover span {
    color: #fff
  }
  .main-section__button:hover svg {
    fill: #fff
  }
  .main-section__button span {
    font-size: 20px
  }
  .why__body {
    margin: 0;
    padding: 0;
    overflow: visible
  }
  .why__wrapper {
    flex-wrap: wrap
  }
  .why__wrapper::after {
    display: none
  }
  .why__item {
    flex: 0 0 calc(25% - 15px);
    width: calc(25% - 15px)
  }
  .why__item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .service__body {
    gap: 21px
  }
  .service__item {
    flex: 0 0 calc(33.333% - 14px);
    width: calc(33.333% - 14px)
  }
  .service__item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .proposition__body {
    margin: 0;
    padding: 0;
    overflow: visible
  }
  .proposition__wrapper {
    flex-wrap: wrap;
    gap: 10px
  }
  .proposition__wrapper::after {
    display: none
  }
  .proposition__item {
    flex: 0 0 calc(25% - 7.5px);
    width: calc(25% - 7.5px)
  }
  .proposition__item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .proposition__item-title {
    font-size: 30px
  }
  .contact__body {
    gap: 20px
  }
  .contact__contacts {
    flex-direction: row;
    gap: 70px
  }
  .contact__phone:hover {
    color: #fff
  }
  .contact__social:hover svg {
    fill: #fff
  }
  .about {
    margin: 50px 0
  }
  .request:hover {
    background-color: #000
  }
  .request:hover svg {
    stroke: #cafe50
  }
  .request:hover span {
    color: #cafe50
  }
}
@media (min-width:79.99875em) {
  ._container {
    width: 1200px
  }
  .header__menu {
    gap: 30px
  }
  .header__right {
    gap: 60px
  }
  .header__socials {
    gap: 30px
  }
  .footer__menu {
    gap: 30px
  }
  .footer__contacts {
    flex-direction: row;
    align-items: center
  }
  .footer__socials {
    order: 0;
    gap: 20px
  }
  .footer__phone {
    order: 1
  }
  .main-section__city {
    font-size: 50px
  }
  .why__item {
    flex: 0 0 calc(20% - 16px);
    width: calc(20% - 16px)
  }
  .proposition__wrapper {
    gap: 20px
  }
  .proposition__item {
    flex: 0 0 calc(25% - 15px);
    width: calc(25% - 15px);
    gap: 35px
  }
  .proposition__item-title {
    font-size: 35px
  }
}
@media (min-width:374.98px) {
  .header__left {
    gap: 40px
  }
  .header__socials {
    gap: 30px
  }
  .footer__phone span {
    font-size: 30px
  }
  .main-section__title {
    font-size: 41px
  }
  .contact__phone {
    font-size: 30px
  }
}